.common__section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/images/common-section-bg.jpg) no-repeat center center;
  background-size: cover;
  padding: 150px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.common__section h1 {
  color: #fff;
  font-weight: 600;
  margin-top: 15px;
}
