.hero__section {
  background: var(--hero-bg);
}

.hero__content h2 {
  color: var(--primary-color);
  font-size: 2.5rem;
  font-weight: 600;
  margin: 20px 0;
}

.hero__content p {
  color: var(--primary-color);
  line-height: 28px;
}

.hero__section p:nth-child(1) {
  font-weight: 500;
}

.buy__btn {
  border: none;
  outline: none;
  padding: 8px 20px;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 40px;
}

.buy__btn a:hover {
  color: #fff;
}

.hero__content {
  padding-top: 45px;
}

.timer__count {
  background: var(--primary-color);
  height: auto;
  padding: 0;
}

.timer__count img {
  width: 70% !important;
  height: 70% !important;
  object-fit: contain;
}

.store__btn {
  background: #fff;
  color: var(--primary-color);
  font-weight: 600;
}

.store__btn a:hover {
  color: var(--primary-color);
  font-weight: 600;
}

.counter__img {
  display: flex;
  justify-content: end;
  align-items: center;
}

.col__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@media (max-width: 992px) {
  .hero__container-img {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero__section h2 {
    font-size: 2rem;
  }

  .section__title {
    font-size: 1.7rem;
  }
  .counter__img {
    display: none;
  }
  .clock___top-content {
    text-align: center;
    margin-bottom: 25px;
  }

  .container__count {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container__btn-buy {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .hero__container-img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero__section h2 {
    font-size: 1.6rem;
  }
  .hero__section p {
    font-size: 0.9rem;
  }
  .buy__btn {
    font-size: 0.9rem;
  }
  .section__title {
    font-size: 1.4rem;
  }
}

@media (max-width: 576px) {
  .hero__content {
    padding-top: 0;
    margin-bottom: 40px;
  }
}
