.products__details {
  margin-top: 70px;
}
ul {
  padding: 0;
}

.products__details h2 {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.product__rating span i {
  color: #ff7f50;
}

.product__rating p span {
  color: #ff7f50;
  font-weight: 500;
}

.product__price {
  font-weight: 500;
  font-size: 1.3rem;
}

.tab__wrapper {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}

.active__tab {
  font-weight: 600;
}

.tab__content {
  line-height: 30px;
}

.review__wrapper ul li span {
  color: #ff7f50;
  font-weight: 600;
}

.review__wrapper ul li p {
  margin-top: 10px;
}

.review__wrapper ul li {
  margin: 25px 0;
}

.review__form {
  width: 70%;
  margin: auto;
  margin-top: 50px;
}

.review__form h4 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.form__group {
  margin-bottom: 30px;
}

.form__group input,
.form__group textarea {
  width: 100%;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 8px 20px;
}

.form__group input:focus,
.form__group textarea:focus {
  outline: none;
}

.form__group span {
  display: flex;
  align-items: center;
  column-gap: 5px;
  color: #ff7f50;
  font-weight: 600;
}

.relatedTitle {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 50px;
}
