/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

/*  css variables */
:root {
  --card-bg-01: #fdefe6;
  --card-bg-02: #d6e5fb;
  --card-bg-03: #ceebe9;
  --card-bg-04: #e2f2b2;
  --primary-color: #0a1d37;
  --hero-bg: #d6e5fb;
  --heading-fontSize: 2rem;
  --small-text-color: #999;
  --heading-text-color: #0a1d37;
}

/* reset browser default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Para el scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Ancho del scrollbar */
}
/* Para el track (la barra gris) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color de fondo del track */
}

/* Para el thumb (el botón que se desplaza) */
::-webkit-scrollbar-thumb {
  background: #0a1d37; /* Color del thumb */
  border-radius: 5px; /* Borde redondeado */
}

/* Para el thumb en estado hover (cuando se pasa el cursor por encima) */
::-webkit-scrollbar-thumb:hover {
  background: #bfcfeb; /* Color del thumb en estado hover */
}

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

p {
  color: var(--small-text-color);
  font-size: 1rem;
}

h1,
h2 {
  font-size: var(--heading-fontSize);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

img {
  width: 100%;
}

section {
  padding: 60px 15px;
}

.section__title {
  color: var(--primary-color);
  font-weight: 600;
  margin-bottom: 1.3rem;
}

@media (max-width: 768px) {
  section {
    padding: 40px 10px;
  }
}
